<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <style>#map {position: absolute; top: 0; bottom: 0; left: 0; right: 0}</style>
</head>
<body>

    <div id="mapid"></div>
    <script>
        var mymap = L.map('mapid').setView([0, 0], 1);

        L.tileLayer('https://api.maptiler.com/maps/basic/{z}/{x}/{y}.png?key=VGON8SmqtCfuGbI7Fmhi', {
            attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
        }).addTo(mymap);
    </script>

</body>
</html>
